# Golang
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build and IDE files
*.test
*.out
*.o
*.a

# Packages
vendor/
*.tar.gz
*.log

# IDE and Editor directories/files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Output of the go coverage tool
*.cover

# Dependency directories
.gopath/
.env

# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually local-only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraformrc and .terraformrc.json files as they are usually local-only
.terraformrc
terraform.rc
.terraformrc.json

# Ignore editor swap files
*~

build/*
!build/.keep

